<div class="flex items-center justify-center bg-[#FFA6F6] w-full p-5 min-h-screen max-h-full">
  <div class="not-prose flex flex-col md:flex-row items-center justify-center z-[15] relative border-2 mb-5 border-black bg-white bg-[radial-gradient(#cacbce_1px,transparent_1px)] px-10 py-20 shadow-base [background-size:16px_16px] m750:px-5 m750:py-10">
    <div class="absolute top-0 mt-5">
      <h1 class="text-base md:text-2xl font-bold">Place your bid, win the best!</h1>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <% @bidding_items.each do |product| %>
        <div>
          <%= render "bidding_item", product: %>
        </div>
      <% end %>
    </div>
  </div>
</div>