<%
notice ||= flash[:notice]
alert ||= flash[:alert]
%>

<div id="flash">
  <% if notice %>
    <div role="alert" class="flex items-center justify-center border-2 border-black bg-main py-4 sm:px-8 sm:py-5 px-4 font-heading text-sm md:text-base">
      <p>🎊  <%= sanitize notice %></p>
    </div>
  <% end %>

  <% if alert %>
    <div role="alert" class="flex items-center justify-center border-2 border-black bg-bg py-4 sm:px-8 sm:py-5 px-4 font-heading text-sm md:text-base">
      <p>⛔️ <%= sanitize alert %></p>
    </div>
  <% end %>
</div>
