<div class="flex items-center justify-center bg-cyan-200 w-full p-5 min-h-screen max-h-full">
  <div class="not-prose flex flex-col md:flex-row items-center justify-center z-[15] relative border-2 mb-5 border-black bg-white bg-[radial-gradient(#cacbce_1px,transparent_1px)] px-10 py-20 shadow-base [background-size:16px_16px] m750:px-5 m750:py-10">
    <div>
      <%= image_tag 'profile-pic.png', class: "w-1/6 m-auto md:w-1/2" %>
    </div>
    <div class="self-start">
      <h1 class="text-5xl font-bold"><%= greet %>, <%= current_user.first_name %>!</h1>
    </div>
  </div>
</div>